/Users/petr/Documents/docs/paper/SDN/STN/stn-followup/dsdn-report/dsdn-report.aux
/Users/petr/Documents/docs/paper/SDN/STN/stn-followup/dsdn-report/dsdn-report.bbl
/Users/petr/Documents/docs/paper/SDN/STN/stn-followup/dsdn-report/dsdn-report.blg
/Users/petr/Documents/docs/paper/SDN/STN/stn-followup/dsdn-report/dsdn-report.log